<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (ionInput)="filterLes($event)" placeholder="Learning Experiences"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <div padding>
      <h5> Learning Experience Categories</h5>
          <ion-list *ngIf="!loading">
          <ion-item  *ngFor="let leCategory of leCategoryResponse.results" >
            <h2>{{leCategory.title}}</h2>
            <p></p>
            <button ion-button clear item-right (click)="goToEditCategory(leCategory)">Edit</button>
            <button ion-button clear item-right>Delete</button>
          </ion-item>
        </ion-list>

      <ion-fab bottom right>
         <button ion-fab (click)="addNewCategory()">
           <ion-icon name="add"></ion-icon>
         </button>
       </ion-fab>
    </div>
  </ion-grid>
</ion-content>