page-register {
  background-color: #272734;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29293c+13,040008+99 */
  //background: rgb(41,41,60); /* Old browsers */
  //background: -moz-linear-gradient(-45deg, rgba(41,41,60,1) 13%, rgba(4,0,8,1) 99%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(-45deg, rgba(41,41,60,1) 13%,rgba(4,0,8,1) 99%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(135deg, rgba(41,41,60,1) 13%,rgba(4,0,8,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29293c', endColorstr='#040008',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: whitesmoke;

  .content, content-md {
    background-color: #272734;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29293c+13,040008+99 */
    ////background: rgb(41,41,60); /* Old browsers */
    //background: -moz-linear-gradient(-45deg, rgba(41,41,60,1) 13%, rgba(4,0,8,1) 99%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(-45deg, rgba(41,41,60,1) 13%,rgba(4,0,8,1) 99%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(135deg, rgba(41,41,60,1) 13%,rgba(4,0,8,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29293c', endColorstr='#040008',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: whitesmoke;
  }

  ion-item, ion-item.item-md {
    background: inherit;
    color: inherit;
    //padding-right: 16px;
  }

  ion-content {
    .scroll-content, .fixed-content {
      padding-top: 0 !important;
      //padding-bottom: 0 !important;
      margin-top: 0 !important;
      //margin-bottom: 0 !important;
    }
  }

}
