<ion-grid style="padding: 0;" [style.marginBottom]="!(post.likes_count || post.shares_count || post.comments_count) ? '5px' : '0'">
  <ion-row>
    <ion-col col-6 style="text-align: left; padding-top: 0; padding-bottom: 0;">
      <div *ngIf="likeLoading">
        <ion-spinner class="like-spinner"></ion-spinner>
      </div>
      <div *ngIf="!likeLoading">
        <button ion-button color="dark" clear *ngIf="!myLike && !comment" (tap)="like()"><ion-icon name="thumbs-up"></ion-icon>&nbsp;&nbsp;Like</button>
        <button ion-button color="dark" clear *ngIf="myLike && !comment" (tap)="unLike()"><ion-icon name="thumbs-down"></ion-icon>&nbsp;&nbsp;Un-Like</button>

        <button ion-button color="dark" clear *ngIf="!myLike && comment" (tap)="like()"><ion-icon name="thumbs-up"></ion-icon>&nbsp;&nbsp;Like {{ likes_count_comment_display() }}</button>
        <button ion-button color="dark" clear *ngIf="myLike && comment" (tap)="unLike()"><ion-icon name="thumbs-down"></ion-icon>&nbsp;&nbsp;Un-Like {{ likes_count_comment_display() }}</button>
      </div>
    </ion-col>
    <ion-col col-6 style="text-align: right; padding-top: 0; padding-bottom: 0;">
      <button ion-button color="dark" clear *ngIf="!comment" (tap)="goToComment()"><ion-icon name="ios-text"></ion-icon>&nbsp;&nbsp;Comment</button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-item *ngIf="!comment && (post.likes_count || post.shares_count || post.comments_count)" (tap)="goToPost(post)">
  <h6>
    <span *ngIf="post.likes_count == 1">{{ post.likes_count }} Like </span>
    <span *ngIf="post.likes_count > 1">{{ post.likes_count }} Likes </span>
    <span *ngIf="post.comments_count == 1">{{ post.comments_count }} Comment</span>
    <span *ngIf="post.comments_count > 1">{{ post.comments_count }} Comments</span>
    <span *ngIf="post.shares_count">{{ post.shares_count }} Shares </span>
  </h6>
</ion-item>

