ion-select {
    max-width: 100% !important;
}

.survey-form {
  margin-bottom: 20px !important;
  float: left;
  width: 100%;
}
.question-item {
  margin-top: 10px ;
  float: left;
  width: 100%;
}
.question-header {
    white-space: normal !important;
    font-weight: 800;
    background: #f5f5f5;
}