page-submission-view {
  .fixed-width-font .item-inner {
    border-top: 1px solid #c5cfdf !important;
    border-right: 1px solid #c5cfdf !important;
    border-left: 1px solid #c5cfdf !important;
  }

}