<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngIf="loading">
      <ion-spinner item-left></ion-spinner>
      Loading Notifications...
    </ion-item>

    <ion-item *ngIf="!loading && notifications.length === 0">
      <ion-item>No Notifications</ion-item>
    </ion-item>

    <ion-item *ngFor="let item of notifications; let index = index" (tap)="notificationTap(item, index)" [hidden]="item.is_seen">
      <ion-avatar item-start><img Image [type]="'avatar'" [imageSrc]="item.profile_image" [resize]="'100x100'" style="object-fit: cover;"></ion-avatar>
      <h2>{{ item.title }}</h2>
      <small>{{ item.created_on | fromNow }}</small>
      <p>{{ item.msg }}</p>
    </ion-item>

  </ion-list>
</ion-content>

