page-list-survey-responses {
  .scroll-content {
    margin-top: 80px;
  }
  thead {
     border-bottom: 1px solid #ccc;
  }
  thead th {
     text-align: center;
     font-size:18px;
     padding-bottom:10px;
     text-transform: uppercase;
  }
  tr td {
    text-align: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
  }
   tr {
    font-size: 16px;
    padding-top: 5px;
  }
   tr:nth-child(even) {
    background: #CCC
  }
}

